name: Update Code.json
on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  update-code-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Update code.json
        id: generator
        uses: DSACMS/automated-codejson-generator@main
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: "main"

      - name: Print outputs
        run: |
          echo "Your code.json has been updated: ${{steps.generator.outputs.updated}}"
          echo "Pull Request Link: ${{steps.generator.outputs.pr_url}}"
